doctype html
html
    head
        include ../../template/blog-head.jade

    body
        time.none 2015-11-10 22:20
        article.article.markdown-body
            h1 第一篇博客

            p.
                留个白, 哪天来更新个人介绍...

    include ../../template/blog-script.jade