doctype html
html
    head
        include ../../template/blog-head.jade
        time.none 2015-11-10 22:20
    body
        article.article.markdown-body
            h1 第一篇博客

            p.
                留个白, 哪天来更新个人介绍...