#catalog .catalog-item {
  overflow: hidden;
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #f7f7f7;
  border-radius: 0.2rem;
  background-color: #f7f7f7;
}
#catalog .catalog-item:first-child {
  margin-top: 0;
}
#catalog .catalog-item:last-child {
  margin-bottom: 1rem;
}
#catalog .title {
  font-size: 1.6rem;
}
#catalog .time {
  float: right;
  font-size: 0.8rem;
}
#catalog .preview {
  margin-top: 0.5rem;
  line-height: 1.2rem;
}
#catalog a {
  color: #26bbe3;
}
#catalog a:active,
#catalog a:hover {
  color: #cd5c5c;
  outline: 0;
  text-decoration: none;
}
