doctype html
html
    head
        include ../../jade-template/blog-head.jade
    body
        div.head
            h1 Am Simple's Blog
            div.mt-1 I was messed up for a long time, but now...