doctype html
html
    head
        include ./template/blog-head.jade
    body.blog-home
        div.head
            h2 Am Simple's Blog
            h4 It looks hard, it's harder than it looks
        div.content
            div#catalog.catalog

            div#tags.tags

    include ./template/blog-script.jade