extends ./template/blog-layout.jade

block article
    div.blog-home
        div.head
            h2 Am Simple's Blog
            h4 It looks hard, it's harder than it looks
        div.content
            div#catalog.catalog

            div#tags.tags