doctype html
html
    head
        include ../../../jade-template/head

        <!-- build:css /global/3rd/css/login-lib.min.css -->
        link(href='/global/3rd/bootstrap/css/bootstrap.min.css' rel='stylesheet')
        <!-- endbuild -->

        <!-- build:css /oauth/css/login.min.css -->
        link(href='/oauth/static/css/login.css' rel='stylesheet')
        <!-- endbuild -->

        title Simple
    body
        div.container
            form.form-signin
                h2.form-signin-heading 登陆 Simple
                label.sr-only(for='account-input') 帐号
                input#account-input.form-control(type='text' placeholder='帐号' required='' autofocus='')

                label.sr-only(for='password-input')
                input#password-input.form-control(type='password' placeholder='密码' required='')

                button.btn.btn-lg.btn-primary.btn-block(type='submit') 登陆