.blog-home article.markdown-body {
  width: 60%;
  margin: 40px auto 60px;
}

.blog-home .head {
  padding: 0 12%;
  background-color: rgb(20, 130, 130);
  color: white;
  overflow: hidden;
}

.blog-home .index {
  margin-top: 2rem;
  padding: 0 24% 0 12%;
}

.index .item {
  overflow: hidden;
  margin-top: 2rem;
}

.index .title {
  font-size: 1.8rem;
}

.index .time {
  float: right;
  font-size: 1rem;
}

.index .preview {
  margin-top: 0.5rem;
}