.article.markdown-body {
  width: 60%;
  margin: 40px auto;
}

.blog-home .head {
  padding-left: 10%;
  background-color: rgb(38, 187, 227);
  opacity: 0.92;
  color: white;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  height: 6rem;
}

.blog-home .content {
  overflow: hidden;
  margin-top: 6rem;
  padding-top: 2rem;
}

.content .catalog {
  float: left;
  width: 60%;
  margin-left: 10%;
}

.content .tags {
  float: left;
  width: 20%;
  margin-left: 4rem;
  position: fixed;
  left: 70%;
}