.article.markdown-body {
  width: 60%;
  margin: 40px auto;
}

.blog-home .head {
  padding-left: 10%;
  background-color: rgb(38, 187, 227);
  opacity: 0.92;
  color: white;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  height: 6rem;
}

.blog-home .index {
  margin-top: 8rem;
  padding: 0 30% 0 10%;
}

.index .item {
  overflow: hidden;
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid rgb(247, 247, 247);
  border-radius: 0.2rem;
  background-color: rgb(247, 247, 247);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}

.index .title {
  font-size: 1.6rem;
}

.index .time {
  float: right;
  font-size: 0.8rem;
}

.index .preview {
  margin-top: 0.5rem;
  line-height: 1.2rem;
}

.index a {
  color: rgb(38, 187, 227);
}