extends ../../template/blog-layout.jade

block article
    time.none 2016-1-4 20:50
    article.article.markdown-body
        h1 H5开发-微信公众平台
        p.
            微信是H5最重要的传播平台之一, 有必要学习和了解微信公众平台开发的相关知识.

        h4 微信公众号启用开发者模式
        p.
            微信公众号管理后台 [开发 -> 基本配置] 中启用服务器配置, 第一次启用时, 需要验证服务器的有效性.
            微信服务器会发送GET请求到填写的服务器地址URL上, 开发者服务器需要原样返回echostr参数.
            启用开发者模式后, 用户可以在微信内跟开发者服务器产生交互.
            具体功能可以参考微信公众平台的开发者文档.

        p.
            另外几个比较重要的设置: 业务域名, JS接口安全域名, 授权回调页面域名.
        p.
            在 [设置 -> 公众号设置 -> 功能设置] 中设置业务域名与JS接口安全域名.
            业务域名可以避免用户在页面上输入内容时红色的风险提示. JS接口安全域名限制了只有所设置的域名下才能使用JS-SDK.

        p.
            在 [开发 -> 接口权限 -> 网页账号] 中配置授权回调页面域名, 用来确保OAuth2.0网页授权后的回调地址安全.
            如果没有配置, 用户授权后微信会提示invalid url.

        h4 公众平台测试号
        p.
            为了便于开发, 微信公众平台提供了测试号的功能.
            测试号可以理解为一个全新且更灵活的公众号, JS接口安全域名和授权回调页面域名都可以填具体ip, 可以直接与开发环境打通.
            测试号没有支付相关接口的权限.


        h4 jsapi_ticket注意事项
        p.
            微信JS-SDK在config时需要提供一个签名字符串以及一些其他信息, 这个签名字符串需要开发者服务器通过与微信服务器通讯才能获取.
        p.
            大致流程: 开发者服务器向微信服务器获取access_token, 然后用access_token获取jsapi_ticket, 最后使用jsapi_ticket与一些其他参数计算生成签名字符串发送给客户端使用.
        p.
            文档中明确提醒开发者必须全局缓存access_token与jsapi_ticket, 这点请一定遵从.
            否则当调用达到数量上限将导致api调用受限, 不能在获取有效的access_token或者jsapi_ticket, 客户端JS-SDK不能正确初始化.
        p.
            官方没有找到具体的调用次数限制说明, 如果调用达到上线后, 需要等到晚上12点后重新计数.

        h4 繁体语言-没有分享按钮
        p.
            在系统语言设为繁体的iPhone上, 用户授权后进入页面, JS-SDK初始化config ok, 菜单中却没有分享等相关按钮.
            微信在同设备不同语言环境下的不同表现(用户授权页面有差异), 触发了这个BUG.
        p.
            解决办法: 在 <code>wx.ready</code> 的回调方法中主动调用 <code>wx.showOptionMenu()</code> 方法.

        h4 微信内关键字屏蔽
        p.
            H5发布后, 一群同事试玩, 分享到朋友圈他人都看不到...
            各种焦头烂额, 瞎猜胡想. 代码明明好好的, 为什么分享后大家就是看不到呢...
        p.
            经过近两小时的排查, 最终发现是因为分享文案的问题.
            分享描述中有关键字'嘿嘿嘿', 碰了红线导致分享他人不可见.
            后尝试改为'heiheihei'也不行, 最终使用'黑黑黑'通过了这堵墙.

        p.
            不知道这个点官方文档有没有写~~~



