meta(charset='utf8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1')

<!-- build:css /blog/css/blog.min.css -->
link(href='/blog/static/css/blog.css' rel='stylesheet')
link(href='/common/css/base.css' rel='stylesheet')
link(href='/common/css/common.css' rel='stylesheet')
link(href='/common/css/markdown.css' rel='stylesheet')
link(href='/common/3rd/highlight/css/default.css' rel='stylesheet')
<!-- endbuild -->

<!-- build:js /common/3rd/js/blog-lib.min.js -->
script(src='/common/3rd/highlight/highlight.min.js' type='text/javascript')
<!-- endbuild -->

script(type='text/javascript')
    | hljs.initHighlightingOnLoad();

title Am Simple's Blog